.web-title {
  /* font-weight: bolder; */
}

.ctr {
  background-color: yellow;
}

.grd {
  background-color: yellow;
}

.topContainer {
  margin-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.activeMenuItem {
  font-weight: bold;
  color: yellow;
}
